@{
    ViewBag.Title = "User Management";
}

<ul data-role="listview" data-inset="true">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Playerlist", "PlayerList")</li>
    <li>@Html.ActionLink("Create Player", "Create")</li>
</ul>
