@model TableTennis.ViewModels.PlayerListViewModel

@{
    ViewBag.Title = "PlayerList";
}

<h2>PlayerList</h2>

<table>
    <tr>
        <td>
            Username
        </td>
        <td>
            Email
        </td>
        <td>
            Rating
        </td>
    </tr>
    @foreach (var p in Model.PlayerList)
    {
        <tr>
            <td>
                @p.Username
            </td>
            <td>
                @p.Email
            </td>
            <td>
                @p.Rating
            </td>
        </tr>
    }
</table>