@model TableTennis.Models.LoginModel

@{
    ViewBag.Title = "Your Account";
    ViewBag.Active = "Account";
}

<p>
    Logged in as <strong>@User.Identity.Name</strong>.
</p>

<ul data-role="listview" data-inset="true">
    <li>@Html.ActionLink("Change password", "ChangePassword")</li>
    <li>@Html.ActionLink("Log off", "LogOff")</li>
</ul>