@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("User Management", "Index", "PlayerManagement")</li>
    <li>@Html.ActionLink("Enter match result", "Create", "Match")</li>
</ul>