@{
    ViewBag.Title = "User Management";
}

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">User Management</li>
    <li>@Html.ActionLink("Create User", "Create")</li>
</ul>
